---
siteTitle: The Wargos
---
<!DOCTYPE HTML>
<!--
Dopetrope by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license
--><html>
  <head>
    <title>{{ siteTitle }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/scott.css" />
    {% include "icons.html" %}
    {% include "google-analytics.html" %}
  </head>
  <body class="left-sidebar is-preload">
    <div id="page-wrapper">
      {% include "header.html" %}
      <!-- Main -->
      <section id="main">
        <div class="container">
          <div class="row">
            <div class="col-4 col-12-medium">
              <section class="box">
                <a href="/about/">
                  <img
                    src="images/pic09.jpg"
                    alt="A picture of Anna and John"
                    class="image featured" />
                </a>
                <p>This site chronologicalizes the life of Anna & John Wargo. We live in Charlotte, North Carolina with our children and at least one dog.</p>
                <p>The picture you see above is the very first photo of us and it was taken a few minutes before our first kiss. If you think about it, thats a big deal considering it was taken
                  <strong>long before</strong>
                  phones had cameras in them.</p>
                <footer>
                  <a href="/about/" class="button alt">Read More</a>
                </footer>
              </section>
              <section class="box">
                <header>
                  <h3>Most Popular</h3>
                </header>
                <p>The following list displays the most popular (most viewed) articles in the site.</p>
                <ul class="divided">
                  <li>
                    <strong>Nothing to see here (yet)</strong>
                  </li>
                </ul>
                <footer>
                  <a href="/articles/" class="button alt">All Articles</a>
                </footer>
              </section>
              <section class="box">
                <header>
                  <h3>Article Categories</h3>
                </header>
                {% assign categories = category-meta | sort %}
                <ul>
                  {% for catData in categories %}
                    <li>
                      <strong>
                        <a href="{{ "/" | htmlBaseUrl }}categories/{{ catData.category | slugify }}/">{{ catData.category }}</a>
                      </strong>
                    </li>
                  {% endfor %}
                </ul>
                <footer>
                  <a href="/categories/" class="button alt">Read More</a>
                </footer>
              </section>
            </div>
            <div class="col-8 col-12-medium imp-medium">
              <article class="box post">
                {{ content }}
              </article>
            </div>
          </div>
        </div>
      </section>
      {% include "footer.html" %}
    </div>
    {% include "scripts.html" %}
  </body>
</html>