---
title: Articles
description: 
layout: generic
eleventyNavigation:
  key: Articles
  order: 2
categories: []
pagination:
  data: collections.post
  size: 20
  alias: posts
  reverse: true
---

The following pages list all articles in the site in reverse chronological order. Use the buttons at the bottom of the page to navigate between pages.

{% include 'pagination-count.html' %}

{% for post in posts %}
  <article>
    <strong>
      <a href="{{post.url}}">{{ post.data.title }}</a>
    </strong>
    <br/>
    <strong>Date:</strong>
    {{ post.date | readableDate }}
    {% if post.data.categories.length > 0 %}
      |
      <strong>
        Categories:
      </strong>
      {% for cat in post.data.categories %}
        <a href="/categories/{{ cat | slugify }}">{{ cat | strip }}</a>
        {%- unless forloop.last %},
        {% endunless %}
      {% endfor %}
    {% endif %}
    <br/>
    {% if post.data.description %}
      {{ post.data.description }}
    {% else %}
      {% excerpt post %}
    {% endif %}
  </article>
{% endfor %}

{% include "pagination-nav.html" %}