---
title: Categories
description: Displays a list of all post categories on the site. From here you can click a link to open a page displaying all of the posts for the particular category.
layout: generic
eleventyNavigation:
  key: Categories
  order: 3
categories: []
---

{% assign categories = category-meta | sort %}

<p>To view all articles for a particular category, click one of the categories listed below. There are {{ categories.length | commaize }} categories on the site today.</p>

<ul class="divided">
  {% for catData in categories %}
    <li>
      <h4>
        <a href="{{ "/" | htmlBaseUrl }}categories/{{ catData.category | slugify }}/">{{ catData.category }}</a>
      </h4>
      Count: {{ catData.count }}
      {% if catData.description.length > 0 %}
        |
        {{ catData.description }}
      {% endif %}
    </li>
  {% endfor %}
</ul>