---
title: Home
description: 
layout: index
eleventyNavigation:
  key: Home
  order: 1
categories: []
---
{% assign latest_posts = collections.post | reverse %}
{% image "src/images/collage-header.png", "wargo family collage", "image featured" %}

<p>Welcome to the Wargo Family home page. We started this site back in 2009 and use it to post updates about what we're up to. You'll notice a huge gap between 2017 and 2023. Part of that was due to the Pandemic (not a hoax) and some was simple laziness.</p>
<p>Below are the most recent articles on the site; you can view all
  <a href="/articles/">Articles</a>
  in reverse chronological order or you can view all articles by category in the
  <a href="/categories/">Categories</a>. section. Enjoy!
</p>

<h3>Most Recent Articles</h3><br/>

<ul class="divided">
  {% for post in latest_posts limit: 10 %}
    <li>
      <strong>
        <a href="{{post.url}}">{{ post.data.title }}</a>
      </strong>
      <br/>
      <span>
        <strong>Date:
        </strong>
        {{ post.date | readableDate }}
        {% if post.data.categories.length > 0 %}
          |
          <strong>Categories:</strong>
          {% for cat in post.data.categories %}
            <a href="/categories/{{ cat | slugify }}">{{ cat | strip }}</a>
            {%- unless forloop.last -%},{% endunless %}
          {% endfor %}
        {% endif %}
      </span>
      {% if post.data.description %}
        {{ post.data.description }}
      {% else %}
        {% excerpt post %}
      {% endif %}
      <p>
        <a href="{{post.url}}">Read Full Article</a>
      </p>

    </li>
  {%- endfor -%}
</ul>

<a href="/articles/" class="button">All Articles</a>